{% extends base_layout %}

{% block title %}
{% trans %}Map Library{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title_lead %}
{% endblock %}
{% block content %}
    <p class="lead">
    {%trans%}Map Visualizations{%endtrans%}
    </p>
    <p>
        {%trans%}These are visualizations created by our users.{%endtrans%}
    </p>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">{%trans%}Manage{%endtrans%}</a>
            <ul class="nav">
                <li {% if path == "/simulations/view/new/" %}class="active" {% endif %}><a href="/simulations/view/new/">{% trans %}Create new map{% endtrans %}</a></li>
                <li>    <form class="navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Search">
                </form></li>
            </ul>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr><th>{%trans%}Name{%endtrans%}</th><th>{%trans%}created on{%endtrans%}</th><th>{%trans%}Description{%endtrans%}</th><th>{%trans%}Creator{%endtrans%}</th><th></th></tr>
        </thead>
        <tbody>
        {%for s in sims %}
            <tr>
            <td><a href="{{ uri_for('sim-view',simulation_id=s.key.id()) }}">{{ s.name }}</a></td><td>{{ s.date_uploaded }}</td><td>{{ s.description }}</td><td>{{ s.owner.get().name }}</td>{% if user_id|int == s.owner.id() %}<td><i class="icon-trash" rel="tooltip" title="Delete simulation" onclick="delete_simulation({{ s.key.id() }})"></i></td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
        …
    </table>
    <script type="text/javascript">
        function delete_simulation(id){
            $.ajax({
                url: '/simulations/delete/'+id,
                type: 'GET',
                success: function (result){}
            });
        }
    </script>
{% endblock %}


