{% extends base_layout %}

{% block title %}
    {% trans %}Simulations View{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title_lead %}
{% endblock %}
{% block content %}
    <p class="lead">
        {{ name }}
    </p>
    <p>
        {%trans%}Navigate using the bar below{%endtrans%}
    </p>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{{ uri_for("sim-view",simulation_id=sid) }}">{%trans%}Simulation Details{%endtrans%}</a>
            <ul class="nav">
                <li {% if path == uri_for("sim-map",simulation_id=sid) %}class="active" {% endif %}><a href="{{ uri_for("sim-map",simulation_id=sid) }}">{%trans%}Map{%endtrans%}</a></li>
                <li {% if path == uri_for("sim-series",simulation_id=sid) %}class="active" {% endif %}><a href="{{ uri_for("sim-series",simulation_id=sid) }}">{%trans%}Series{%endtrans%}</a></li>
                <li {% if path == uri_for("sim-net",simulation_id=sid) %}class="active" {% endif %}><a href="{{ uri_for("sim-net",simulation_id=sid) }}">{%trans%}Network{%endtrans%}</a></li>
                <li {% if path == uri_for("sim-spread",simulation_id=sid) %}class="active" {% endif %}><a href="{{ uri_for("sim-spread",simulation_id=sid) }}">{%trans%}Spread Tree{%endtrans%}</a></li>
            </ul>
        </div>
    </div>
    <div class="well-large">
        <ul class="nav nav-tabs">
            <li><a href="#Record" data-toggle="tab">{% trans %}Record{% endtrans %}</a></li>
            <li><a href="#Details" data-toggle="tab">{% trans %}Details{% endtrans %}</a></li>
            <li><a href="#Model" data-toggle="tab">{% trans %}Model{% endtrans %}</a></li>
            <li><a href="#Statistics" data-toggle="tab">{% trans %}Statistics{% endtrans %}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="Record">
                <form method="POST" action="{{ url|safe }}" enctype="multipart/form-data" class="well form-horizontal">
                    <fieldset>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <div>{{ form.name.label }}: {{ form.name(class="input-xlarge focused required") }}</div>
                        {% if form.name.errors %}
                            <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}

                        <div>{{ form.description.label }}: {{ form.description(class="input-xlarge focused required") }}</div>
                        {% if form.description.errors %}
                            <ul class="errors">{% for error in form.description.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                        <div>{{ form.map.label }}: {{ form.map(class="input-xlarge focused") }}</div>
                        {% if form.map.errors %}
                            <ul class="errors">{% for error in form.map.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                        <div>{{ form.series.label }}: {{ form.series(class="input-xlarge focused required") }}</div>
                        {% if form.series.errors %}
                            <ul class="errors">{% for error in form.series.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                        <div>{{ form.epg.label }}: {{ form.epg(class="input-xlarge focused required") }}</div>
                        {% if form.epg.errors %}
                            <ul class="errors">{% for error in form.epg.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                        <div>{{ form.network.label }}: {{ form.network(class="input-xlarge focused required") }}</div>
                        {% if form.network.errors %}
                            <ul class="errors">{% for error in form.network.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                        <div>{{ form.spread.label }}: {{ form.spread(class="input-xlarge focused required") }}</div>
                        {% if form.spread.errors %}
                            <ul class="errors">{% for error in form.spread.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                        <div>{{ form.model.label }}: {{ form.model(class="input-xlarge focused") }}</div>
                        {% if form.model.errors %}
                            <ul class="errors">{% for error in form.model.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">{% trans %}Update!{% endtrans %}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="tab-pane" id="Details">
                <code>
                {% for l in epg %}
                    <p>{{ l }}</p>
                {% endfor %}
                </code>
            </div>
            <div class="tab-pane" id="Model">

            </div>
            <div class="tab-pane" id="Statistics">

            </div>
        </div>
    </div>
{% endblock %}
