{% extends base_layout %}

{% block title %}
    {% trans %}Simulations View{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title_lead %}
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" />
<![endif]-->

    <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
    <p class="lead">
        {{ simulation.name }}
    </p>
    <p>
        {%trans%}Navigate the results using the bar below{%endtrans%}
    </p>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{{ uri_for("sim-view",simulation_id=simulation.key.id()) }}">{%trans%}Results{%endtrans%}</a>
            <ul class="nav">
                <li {% if path == uri_for("sim-map",simulation_id=simulation.key.id()) %}class="active" {% endif %}><a href="{{ uri_for("sim-map",simulation_id=simulation.key.id()) }}">{%trans%}Map{%endtrans%}</a></li>
                <li {% if path == uri_for("sim-series",simulation_id=simulation.key.id()) %}class="active" {% endif %}><a href="{{ uri_for("sim-series",simulation_id=simulation.key.id()) }}">{%trans%}Series{%endtrans%}</a></li>
                <li {% if path == uri_for("sim-net",simulation_id=simulation.key.id()) %}class="active" {% endif %}><a href="{{ uri_for("sim-net",simulation_id=simulation.key.id()) }}">{%trans%}Network{%endtrans%}</a></li>
            </ul>
        </div>
    </div>
    <div id="map_div" class="well">
        <script src="/js/d3.v2.js"></script>
        <link type="text/css" rel="stylesheet" href="/css/colorbrewer/colorbrewer.css">
        <style type="text/css">
            svg {
                background: #eee;
                width: 960px;
                height: 500px;
            }
            #polygons path {
                stroke: #fff;
                stroke-width: .25px;
            }

        </style>
        <script type="text/javascript">
            var map = {{ simulation.map|safe }}
            var svg = d3.select("#map_div")
                    .append("svg")
                    .call(d3.behavior.zoom()
                    .on("zoom", redraw))
                    .append("g");

            var polygons = svg.append("g")
                    .attr("id", "polygons")
                    .attr("class","Blues");

            var bounds = d3.geo.bounds(map.features[0])

            var proj = d3.geo.mercator();
            proj.translate([13400,6600]).scale(280);
            var path = d3.geo.path().projection(proj);
            /*
            var fill = d3.scale.log()
                    .domain([10, 500])
                    .range(["brown", "steelblue"]);
*/
            function draw (json) {
                polygons.selectAll("path")
                        .data(json.features)
                        .enter().append("path")
                        //.attr("class", function(d) { return parseFloat( d.properties.prevalence) })
                        .attr("d", path)
                        //.text(function(d){try{return d.properties.nome_zonas + ": "+d.properties.prevalence}catch(err) {return ''}})

            };

            function redraw() {
                svg.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
            }
            draw(map);
        </script>
    </div>
{% endblock %}

