{% extends base_layout %}

{% block title %}
    {% trans %}Upload a Simulation{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title_lead %}
{% block header_title %}
    <h1>{% trans %}Upload an Epigrass Simulation{% endtrans %}</h1>
{% endblock %}
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url|safe }}" enctype="multipart/form-data" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <div>{{ form.name.label }}: {{ form.name(class="input-xlarge focused required") }}</div>
            {% if form.name.errors %}
                <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <div>{{ form.description.label }}: {{ form.description(class="input-xlarge focused required") }}</div>
            {% if form.description.errors %}
                <ul class="errors">{% for error in form.description.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <div>{{ form.map.label }}: {{ form.map(class="input-xlarge focused") }}</div>
            {% if form.map.errors %}
                <ul class="errors">{% for error in form.map.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <div>{{ form.series.label }}: {{ form.series(class="input-xlarge focused required") }}</div>
            {% if form.series.errors %}
                <ul class="errors">{% for error in form.series.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <div>{{ form.epg.label }}: {{ form.epg(class="input-xlarge focused required") }}</div>
            {% if form.epg.errors %}
                <ul class="errors">{% for error in form.epg.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <div>{{ form.model.label }}: {{ form.model(class="input-xlarge focused") }}</div>
            {% if form.model.errors %}
                <ul class="errors">{% for error in form.model.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Upload!{% endtrans %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}


